/*.navigation_bar
{
	overflow: hidden;
}

.navigation_bar a
{
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar_searchbox
{
	float: left;
}

#navbar_searchbox form
{
	margin: 0;
	padding: 0;
	display: inline-block;
}

#navbar_searchbox input[type="text"]
{
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

#navbar_searchbox button
{
	margin-top: 8px;
	margin-right: 16px;
	padding: 6px 10px;
	background-color: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}*/

.navbar_searchbox form
{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.navbar_searchbox input[type="text"]
{
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.navbar_searchbox button
{
	margin-top: 8px;
	margin-right: 16px;
	padding: 6px 10px;
	background-color: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.friends_column
{
	float: left;
	width: 25%;
	background-color: grey;
}

.posts_column
{
	float: left;
	width: 50%;
	background-color: white;
}

.informations
{
	width: 25%;
	max-width: 25%;
	background-color: grey;
	overflow: hidden;
}

#post_form
{
	position: relative;
}

.idk
{
	position: fixed;
	bottom: 0px;
}

#dipslayed_post_image
{
	max-width: 100%;
	max-height: 100;
	object-fit: contain;
}

.material-symbols-outlined
{
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}

body
{
	position: relative;
}

.profile_image_small
{
	max-width: 50px;
	max-height: 50px;
	border-radius: 25px;
}